body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0B9391; 
}
.main-login {
    width: 690px; 
    height: 785px; 
    background-color: #2ACAC7; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-login H1 {
    margin: 0;
    padding-bottom: 100px;
    font-size: 28px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.main-login input[type="email"],
.main-login input[type="password"] {
    width: 130%;
    padding: 10px;
    margin: 50px 0;
    border: none;
    border-radius: 5px;
    margin-top: 0px;
}

.main-login button {
    width: 100%;
    padding: 10px;
    background-color: #15A6A3; 
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 80px; /* Espaçamento superior para separação */
    text-align: center; /* Centraliza o texto no botão */
}
