<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/frontend/pagina-inicial/static/pagina-inicial.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="index.html">
                <img src="./img/logo.png" alt="Logo", height="150"> <!-- Mudar a logo depois -->
            </a>
        </div>

        <div class="searchbar">
            <input type="text" placeholder="Pesquisar...">
        </div>

        <ul class="nav-links">
            <li>
                <a href="#categorias">Categorias</a> <!-- Mudar o link de redirecionamento -->
            </li>
            <li>
                <a href="#amigos">Amigos</a> <!-- Mudar o link de redirecionamento -->
            </li>
        </ul>
        <div class="profile">
            <a href="#perfil"></a>
                <img src="./img/foto-perfil.png" alt="Perfil", height="80">
        </div>
    </nav>

    <div>
    	<div class="row tutorial-row">
    		<div class="tutorial-box">

    			
    			<p class="tutorial-text">Você tem que realizar seu registro</p>

    		</div>
    		<div class="tutorial-box">
    			<p class="tutorial-text">Em seguida você vai encontrar o livro que deseja trocar</p>
    		</div>
    		<div class="tutorial-box">
    			<p class="tutorial-text">E então é só realizar a troca com seu amigo!</p>
    		</div>
    	</div>

		<div class="all-books">
			<p class = "texto-genero">Genero1</p>
			<div class="row books-row" id="img">
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
			</div>
			<p class = "texto-genero">Genero2</p>
			<div class="row books-row" id="img">
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
			</div>
			<p class = "texto-genero">Genero3</p>
			<div class="row books-row" id="img">
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
				<div class="book-container">
					<img src="./img/book.png" class="book-img">
					<p>Nome do Livro</p>
				</div>
			</div>
		</div>
    </div>
</body>
	<script src="/pagina-inicial.js"></script>
</html>