*{
    margin: 0.8%;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 0.1%;
    
}

body{
    background-color: #9FD4D4;

}

.container{
    border-color: #E7E7E7;
    background-color: #E7E7E7;
    border-radius: 10px;
}



.emailContainer{
    display: flex;
    flex-direction: column;
    padding-top:6vh;
    padding-left: 4vw;
}

.emailContainer input{
    height: 5vh;
    width: 30vw;
    background-color: #f6f6f6;
    border: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.usernameContainer{
    display: flex;
    flex-direction: column;
    padding-top:8vh;
    padding-left: 4vw;
}

.usernameContainer input{
    height: 5vh;
    width: 30vw;
    background-color: #f6f6f6;
    border: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.senhaContainer{
    display: flex;
    flex-direction: column;
    padding-top: 8vh;;
    padding-left: 4vw;
    
}

.senhaContainer input{
    height: 5vh;
    width: 30vw;
    background-color: #f6f6f6;
    border: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.confirmaSenhaContainer{
    display: flex;
    flex-direction: column;
    padding-top:8vh;
    padding-left: 4vw;
    padding-bottom: 6vh;
}

.confirmaSenhaContainer input{
    height: 5vh;
    width: 30vw;
    background-color: #f6f6f6;
    border: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.cidadeContainer{
    display: flex;
    flex-direction: column;
    padding-top: 6vh;
    padding-left: 5vw;
}

.cidadeContainer input{
    height: 5vh;
    width: 30vw;
    background-color: #f6f6f6;
    border: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    
}

.paisContainer{
    display: flex;
    flex-direction: column;
    padding-top: 8vh;
}

.paisContainer input{
    height: 5vh;
    width: 20vw;
    background-color: #f6f6f6;
    border: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.estadoContainer{
    display: flex;
    flex-direction: column;
    padding-top: 9vh;
    padding-left: 4vw;
}

.estadoContainer input{
    height: 5vh;
    width: 5vw;
    background-color: #f6f6f6;
    border: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.paisEstadoContainer{
    display: flex;
    flex-direction: row;
    margin: none;
    padding-left: 5vw;
}

.allInputsContainer{
    display: flex;
    flex-direction: row;
}

.opcoesGenerosContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #E7E7E7;
    width: 30vw;
    border-radius: 10px;
    
}   

.generoInput{
    padding-left: 5vw;
    padding-top: 7vh;
}

.opcoesGenerosContainer button{
    background-color: #ffffff;
    height: 6vh;
    width: 6vw;
    margin: 8%;
    border-radius: 10px;
    border: none;
    
}

.opcoesGenerosContainer button:hover{
    background-color: #efefef;
}

.fotoStiloContainer{
    background-color: #D3D3D3; 
    width: 100%;
    height: 150px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border: none;
    border-radius: 10px;
}

.iconeContainer{
    font-size: 100px;
}

.fotoECadastroContainer{
    padding-top: 7vh;
    padding-left: 6vw;
}

.botaoDeCadastro{
    height: 12vh;
    width: 9vw;
    border-radius: 10px;
    background-color: #4DB1D1;
    border: none;
    color: #ffffff;
}

.botaoDeCadastro:active{
    background-color: #15A6A3;
    border: none;
}

.botaoInteiro{
    padding-top: 30vh;
}

