<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Instancia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pagina-instancia/css/instancia.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="index.html">
                <img src="{{ url_for('static', filename='pagina-instancia/img/logo.png') }}" alt="Logo", height="150"> <!-- Mudar a logo depois -->
            </a>
        </div>

        <div class="searchbar">
            <input type="text" placeholder="Pesquisar...">
        </div>

        <ul class="nav-links">
            <li class="dropdown-categorias">
                <a href="#categorias">Categorias</a> <!-- Mudar o link de redirecionamento -->

                <div class="dropdown-categorias-menu">
                    <a href="#categorias1">Categorias 1</a>
                    <a href="#categorias2">Categorias 2</a>
                    <a href="#categorias3">Categorias 3</a>
                </div>
            </li>
        </ul>
        <div class="profile">
            <a href="#perfil"></a>
                <img src="{{ url_for('static', filename='pagina-instancia/img/foto-perfil.png') }}" alt="Perfil", height="80">
            </a>
            <div class="dropdown-foto">
                <a href="#meuperfil">Meu Perfil</a>
                <a href="#configuracoes">Configurações</a>
                <a href="#sair">Sair</a>
            </div>
        </div>
    </nav>

    <main>
		<div class="container-instancia">
			<div class="left-rectangle">
				<img class= "foto" src="{{ url_for('static', filename='pagina-instancia/img/percyjackson.png') }}" alt="Imagem do Livro">
			</div>
			<div class="right-rectangle">
				<div class="text-content">
					<h2>Título do Livro</h2>
					<p><strong>Autor:</strong> Nome do Autor</p>
					<p><strong>Gênero:</strong> Gênero do Livro</p>
					<p class="descricao-livro"><strong>Descrição:</strong> Descrição......................</p>
				</div>
				<div class="image-content">
					<img class="foto-perfil" src="{{ url_for('static', filename='pagina-instancia/img/foto-perfil.png') }}" alt="Imagem do Dono">
				</div>
			</div>
		</div>
	</main>
</body>
</html>