<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data_Instancia.nome_livro }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/instancia.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/home">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" height="150">
            </a>
        </div>

        <div class="searchbar">
            <form action="/search" method="GET">
                <input type="text" name="q" placeholder="Pesquisar...">
                <button class="botao-busca" type="submit">Buscar</button>
            </form>
        </div>

        <ul class="nav-links">
            <li class="dropdown-categorias">
                <a href="#categorias">Categorias</a> <!-- Mudar o link de redirecionamento -->

                <div class="dropdown-categorias-menu"> <!-- Colocar funcao no backend -->
                    {% for item in all_generos %}
                    <a href="/search?q={{ item }}">{{ item }}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>
        <div class="profile">
            <a href="/perfil"></a>
                <img src="{{ foto_cliente }}" alt="Perfil" height="80">
            </a>
            <div class="dropdown-foto">
                <a href="/perfil">Meu Perfil</a>
                <a href="/" id="sair-link">Sair</a> <!-- Adiciona um id ao link -->
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}



    {% if data_Instancia %}
    {% set item = data_Instancia[0] %}
    <main>
        <div class="container-instancia">
            <div class="left-rectangle">
                <img class="foto" src="{{ item.foto_livro }}" alt="Imagem do Livro">
            </div>
            <div class="right-rectangle">
                <div class="text-content">
                    <h2>{{ item.nome_livro }}</h2>
                    <p><strong>Autor:</strong> {{ item.autor_livro }}</p>
                    <p><strong>Gênero:</strong> {{ item.genero_livro }}</p>
                    <p class="descricao-livro"><strong>Descrição:</strong> {{ item.descricao_livro }}</p>
                    <div class="troca-container">
                        <form action="{{ url_for('books', UUID_Instancia=item.uuid_instancia) }}" method="POST">
                            <div class="opcoesTroca">
                                <label for="livro_nome">Selecione o livro que deseja trocar:</label>
                                <select id="livro_nome" name="livro_nome" required>
                                    {% for livro in client_books %}
                                    <option value="{{ livro[1] }}">{{ livro[0] }}</option>
                                    {% endfor %}
                                </select>
                                </div>
                                <input type="hidden" name="uuid_instancia_livro_1" value="{{ item.uuid_instancia }}">
                                <div class="botao-troca">
                                    <button type="submit">Propor troca</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="image-content">
                        <img class="foto-perfil" src="{{ item.foto_cliente }}" alt="Imagem do Dono">
                        <p class="username-cliente">{{ item.username_cliente }}</p>
                        <p class="telefone-cliente">Telefone: {{ item.telefone_cliente }}</p>
                    </div>
                </div>
            </div>
        </main>
    {% else %}
        <p>Instância não encontrada ou não disponível.</p>
    {% endif %}
                    
                

			</div>
		</div>
	</main>
</body>
<script>
    document.getElementById("sair-link").addEventListener("click", function(event) {
        event.preventDefault(); // Impede o comportamento padrão do link
    
        // Envia uma requisição POST para a rota de logout no Flask
        fetch('/perfil', { method: 'POST' })
            .then(response => {
                if (response.ok) {
                    // Redireciona o usuário após o logout
                    window.location.href = "/";
                } else {
                    alert("Erro ao tentar sair.");
                }
            })
            .catch(error => {
                console.error("Erro:", error);
            });
    });
</script>
</html>
