<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pagina-login/css/login.css') }}">
</head>

<body>
    
    <div class="login-container">
        <img class = "logo-img" src="../static/pagina-login/img/logo.png" alt="Logo">
        <form action="#">
            <label for="email">EMAIL</label>
            <input type="email" id="email" placeholder="Digite seu email" required>

            <label for="password">SENHA</label>
            <input type="password" id="password" placeholder="Digite sua senha" required>
            <button type="submit">Entrar</button>
        </form>
    </div>