<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    
    <div class="login-container">
        <img class = "logo-img" src="/static/img/logo.png" alt="Logo">
        <form action="#">
            <label for="email">EMAIL</label>
            <input type="email" id="email" placeholder="Digite seu email" required>

            <label for="password">SENHA</label>
            <input type="password" id="password" placeholder="Digite sua senha" required>
            <button id="submitLogin" type="submit">Entrar</button>
            <p>Cliente novo? <a class="texto-cadastro" href="register">Cadastre-se aqui</a></p>
        </form>
    </div>
</body>
<script src="/static/js/login.js"></script>
</html>