<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pagina-perfil/css/perfil.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="index.html">
                <img src="{{ url_for('static', filename='pagina-perfil/img/logo.png') }}" alt="Logo", height="150"> <!-- Mudar a logo depois -->
            </a>
        </div>

        <div class="searchbar">
            <input type="text" placeholder="Pesquisar...">
        </div>

        <ul class="nav-links">
            <li class="dropdown-categorias">
                <a href="#categorias">Categorias</a> <!-- Mudar o link de redirecionamento -->

                <div class="dropdown-categorias-menu">
                    <a href="#categorias1">Categorias 1</a>
                    <a href="#categorias2">Categorias 2</a>
                    <a href="#categorias3">Categorias 3</a>
                </div>
            </li>
        </ul>
        <div class="profile">
            <a href="#perfil"></a>
                <img src="{{ url_for('static', filename='pagina-perfil/img/foto-perfil.png') }}" alt="Perfil", height="80">
            </a>
            <div class="dropdown-foto">
                <a href="#meuperfil">Meu Perfil</a>
                <a href="#amigos">Amigos</a>
                <a href="#configuracoes">Configurações</a>
                <a href="#sair">Sair</a>
            </div>
        </div>
    </nav>


    <div class="profile-page">
        <div class="sidebar">
            <div class="profile-picture">
                <img src="{{ url_for('static', filename='pagina-perfil/img/foto-perfil.png') }}" alt="Foto do perfil">
            </div>
            <div class="profile-options">
                <h2>Gêneros favoritos</h2>
                <div style="10px">
                    Romance | Ação | Drama
                </div>
                <h2>Biografia</h2>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut sem interdum, dictum tortor quis, pellentesque libero. Mauris dapibus imperdiet massa sit amet rutrum. Etiam malesuada imperdiet dui vel auctor. Duis luctus ex eu enim commodo luctus. Integer ultricies sem eget malesuada auctor. Quisque et feugiat orci. 
                </div>
               
            </div>
            <h3>Lista de amigos</h3>
            <div class="friends-list">
                <div class="friend">
                    <a href="perfilDoAmigo.html"><img src="{{ url_for('static', filename='pagina-perfil/img/foto-perfil.png') }}" alt="Amigo 1"></a>
                </div>
                <div class="friend">
                    <a href="perfilDoAmigo.html"><img src="{{ url_for('static', filename='pagina-perfil/img/foto-perfil.png') }}" alt="Amigo 1"></a>
                </div>
                <div class="friend">
                    <a href="perfilDoAmigo.html"><img src="{{ url_for('static', filename='pagina-perfil/img/foto-perfil.png') }}" alt="Amigo 1"></a>
                </div>
                <div class="friend">
                    <a href="perfilDoAmigo.html"><img src="{{ url_for('static', filename='pagina-perfil/img/foto-perfil.png') }}" alt="Amigo 1"></a>
                </div>
                <div class="friend">
                    <a href="perfilDoAmigo.html"><img src="{{ url_for('static', filename='pagina-perfil/img/foto-perfil.png') }}" alt="Amigo 1"></a>
                </div>
                <div class="friend">
                    <a href="perfilDoAmigo.html"><img src="{{ url_for('static', filename='pagina-perfil/img/foto-perfil.png') }}" alt="Amigo 1"></a>
                </div>
                <div class="friend">
                    <a href="perfilDoAmigo.html"><img src="{{ url_for('static', filename='pagina-perfil/img/foto-perfil.png') }}" alt="Amigo 1"></a>
                </div>
                <div class="friend">
                    <a href="perfilDoAmigo.html"><img src="{{ url_for('static', filename='pagina-perfil/img/foto-perfil.png') }}" alt="Amigo 1"></a>
                </div>
                <div class="friend">
                    <a href="perfilDoAmigo.html"><img src="{{ url_for('static', filename='pagina-perfil/img/foto-perfil.png') }}" alt="Amigo 1"></a>
                </div>
                <div class="friend">
                    <a href="perfilDoAmigo.html"><img src="{{ url_for('static', filename='pagina-perfil/img/foto-perfil.png') }}" alt="Amigo 1"></a>
                </div>
                <div class="friend">
                    <a href="perfilDoAmigo.html"><img src="{{ url_for('static', filename='pagina-perfil/img/foto-perfil.png') }}" alt="Amigo 1"></a>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="category" id="adventure">
                <h3>Aventura</h3>
                <div class="book-list">
                    <div class = "imagem">
                    <a href="livro.html"><img src="{{ url_for('static', filename='pagina-perfil/img/percyjackson.png') }}" alt="Imagem"></a>
                    </div>
                    <div class = "imagem">
                    <a href="livro.html"><img src="{{ url_for('static', filename='pagina-perfil/img/percyjackson.png') }}" alt="Imagem"></a>
                    </div>
                    <div class = "imagem">
                    <a href="livro.html"><img src="{{ url_for('static', filename='pagina-perfil/img/percyjackson.png') }}" alt="Imagem"></a>
                    </div>
                    <div class = "imagem">
                    <a href="livro.html"><img src="{{ url_for('static', filename='pagina-perfil/img/percyjackson.png') }}" alt="Imagem"></a>
                    </div>
                    <div class = "imagem">
                    <a href="livro.html"><img src="{{ url_for('static', filename='pagina-perfil/img/percyjackson.png') }}" alt="Imagem"></a>
                    </div>
                </div>
            </div>
            <div class="category" id="action">
                <h3>Ação</h3>
                <div class="book-list">
                    <div class = "imagem">
                    <a href="livro.html"><img src="{{ url_for('static', filename='pagina-perfil/img/percyjackson.png') }}" alt="Imagem"></a>
                    </div>
                    <div class = "imagem">
                    <a href="livro.html"><img src="{{ url_for('static', filename='pagina-perfil/img/percyjackson.png') }}" alt="Imagem"></a>
                    </div>
                    <div class = "imagem">
                    <a href="livro.html"><img src="{{ url_for('static', filename='pagina-perfil/img/percyjackson.png') }}" alt="Imagem"></a>
                    </div>
                    <div class = "imagem">
                    <a href="livro.html"><img src="{{ url_for('static', filename='pagina-perfil/img/percyjackson.png') }}" alt="Imagem"></a>
                    </div>
                    <div class = "imagem">
                    <a href="livro.html"><img src="{{ url_for('static', filename='pagina-perfil/img/percyjackson.png') }}" alt="Imagem"></a>
                    </div>
                </div>
            </div>
            <div class="category" id="romance">
                <h3>Romance</h3>
                <div class="book-list">
                    <div class = "imagem">
                    <a href="livro.html"><img src="{{ url_for('static', filename='pagina-perfil/img/percyjackson.png') }}" alt="Imagem"></a>
                    </div>
                    <div class = "imagem">
                    <a href="livro.html"><img src="{{ url_for('static', filename='pagina-perfil/img/percyjackson.png') }}" alt="Imagem"></a>
                    </div>
                    <div class = "imagem">
                    <a href="livro.html"><img src="{{ url_for('static', filename='pagina-perfil/img/percyjackson.png') }}" alt="Imagem"></a>
                    </div>
                    <div class = "imagem">
                    <a href="livro.html"><img src="{{ url_for('static', filename='pagina-perfil/img/percyjackson.png') }}" alt="Imagem"></a>
                    </div>
                    <div class = "imagem">
                    <a href="livro.html"><img src="{{ url_for('static', filename='pagina-perfil/img/percyjackson.png') }}" alt="Imagem"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</body>
</html>