<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/static/css/pagina-inicial.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/home">
                <img src="/static/img/logo.png" alt="Logo" height="150"> <!-- Mudar a logo depois -->
            </a>
        </div>

        <div class="searchbar">
            <form action="/search" method="GET">
                <input type="text" name="q" placeholder="Pesquisar...">
                <button class="botao-busca" type="submit">Buscar</button>
            </form>
        </div>

        <ul class="nav-links">
            <li class="dropdown-categorias">
                <a href="#categorias">Categorias</a> <!-- Mudar o link de redirecionamento -->

                <div class="dropdown-categorias-menu">
                    {% for item in all_generos %}
                    <a href="search?q={{item}}">{{ item }}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>
        <div class="profile">
            <a href="/perfil"></a>
                <img src="{{ foto_cliente }}" alt="Perfil" height="80">
            </a>
            <div class="dropdown-foto">
                <a href="/perfil">Meu Perfil</a>
                <a href="#amigos">Amigos</a>
                <a href="#configuracoes">Configurações</a>
                <a href="#sair">Sair</a>
            </div>
        </div>
    </nav>

    <div>
    	
        
        <h2 class="nome-genero">{{lista_generos[0]}}</h2>
        <div class="row">
            <button class="arrow-button-left" onclick="scrollRowLeft('books-row-1')"></button>
            <div id="books-row-1" class="books-row">
                
                {% for item in data1 %}
                <div class="book-container">
                    <a href="/books/{{item.uuid_instancia}}">
						<img src="{{ item.foto }}"  alt="{{item.nome}}" class="book-img">
                        <p class="titulo-livro">{{ item.nome }}</p>
					</a>
                </div>
                {% endfor %}
            </div>

            <button class="arrow-button-right" onclick="scrollRowRight('books-row-1')"></button>
        </div>


    
        
        <h2 class="nome-genero">{{lista_generos[1]}}</h2>
        <div class="row">
            <button class="arrow-button-left" onclick="scrollRowLeft('books-row-2')"></button>
            <div id="books-row-2" class="books-row">
            
                {% for item in data2 %}
                <div class="book-container">
                    <a id="livros" href="/books/{{item.uuid_instancia}}">
						<img src="{{ item.foto }}"  alt="{{item.nome}}" class="book-img">
                        <p class="titulo-livro">{{ item.nome }}</p>
					</a>
                </div>
                {% endfor %}
            </div>
            <button class="arrow-button-right" onclick="scrollRowRight('books-row-2')"></button>
        </div>


        <h2 class="nome-genero">{{lista_generos[2]}}</h2>
        <div class="row">
            <button class="arrow-button-left" onclick="scrollRowLeft('books-row-3')"></button>
            <div id="books-row-2" class="books-row">
            
                {% for item in data3 %}
                <div class="book-container">
                    <a href="/books/{{item.uuid_instancia}}">
						<img src="{{ item.foto }}" alt="{{item.nome}}" class="book-img">
                        <p class="titulo-livro">{{ item.nome }}</p>
					</a>
                </div>
                {% endfor %}
            </div>
            <button class="arrow-button-right" onclick="scrollRowRight('books-row-3')"></button>
        </div>

    </div>
</body>
<script type="text/javascript">
    function scrollRowLeft (books_row_id) {
        const booksRow = document.getElementById(books_row_id);
        const bookWidth = document.querySelector('.book-container').offsetWidth;
        booksRow.scrollLeft -= bookWidth;
    };

    function scrollRowRight (books_row_id) {
        const booksRow = document.getElementById(books_row_id);
        const bookWidth = document.querySelector('.book-container').offsetWidth;
        booksRow.scrollLeft += bookWidth;
    }
</script>
</html>